<div class="mt-5">
    <div class="animate__animated animate__zoomIn w-11/12 md:w-1/2 lg:w-1/3 border mr-auto ml-auto shadow">
        <div class="flex items-center bg-blue-500 text-white font-hairline p-3 text-2xl rounded-t">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path></svg>
            <span class="ml-1">
                Editando semáforo
            </span>
        </div>
        <div class="bg-white">
            <form class="p-3"
                  autocomplete="off"
                  [formGroup]="semaforoForm"
                  (submit)="actualizarSemaforo()">
                <div class="border p-2 shadow bg-gray-200 rounded cursor-pointer text-center">
                    <span class="font-semibold text-gray-600"> Semáforo creado por <span class="text-blue-500"> {{ semaforo.usuario ? semaforo.usuario.nombre : null }} {{ semaforo.usuario ? semaforo.usuario.apellido : null }} </span> </span>
                </div>
                <div class="mt-2">
                    <label class="font-semibold text-gray-700 block" for="codigo"> Codigo </label>
                    <input type="text"
                           id="codigo" 
                           class="shadow w-1/2 block p-1 mt-2 rounded border border-gray-400"
                           formControlName="codigo"
                           placeholder="Identificador (3 digitos)">
                </div>
                <div>
                    <label class="font-semibold text-gray-700 block mt-4" for="descripcion"> Descripción </label>
                    <input type="text"
                           id="descripcion" 
                           class="shadow w-full block p-1 mt-2 rounded border border-gray-400"
                           formControlName="descripcion">
                </div>
                <div class="flex mt-4">
                    <div class="mr-5">
                        <label class="font-semibold text-gray-700 block mt-4" for=""> Estado </label>
                        <select formControlName="intermitente"
                                class="shadow border p-1 mt-2">
                            <option value=true> Intermitente </option>
                            <option value=false> Funcionando </option>
                        </select>
                    </div>
                    <div>
                        <label class="font-semibold text-gray-700 block mt-4" for=""> ¿Activo? </label>
                        <select formControlName="activo"
                                class="shadow border p-1 mt-2">
                            <option value=true> Activo </option>
                            <option value=false> Inactivo </option>
                        </select>
                    </div>
                </div>
                <div class="flex">
                    <button class="block w-2/3 mt-6 bg-blue-500 text-white p-2 rounded focus:outline-none"> 
                            Actualizar semáforo 
                    </button>
                    <button type="button"
                            (click)="regresar()"
                            class="flex items-center justify-center block w-2/3 ml-2 mt-6 bg-gray-600 text-white p-2 rounded focus:outline-none"> 
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"></path></svg>
                            <span class="ml-2">
                                Regresar 
                            </span>
                    </button>    
                </div>
            </form>
        </div>
    </div>
</div>

