<div class="flex flex-wrap">
    <div (click)="cambiarEstado(semaforo)" *ngFor="let semaforo of semaforos" class="w-11/12 md:w-1/4 mr-auto ml-auto">
        <div
             [ngClass]="{'border-green-500': !semaforo.intermitente, 'border-red-500': semaforo.intermitente}" 
             class="flex block items-center justify-between border-t-8 bg-white rounded shadow p-6 w-11/12 mr-auto ml-auto mt-4 cursor-pointer">
            <span class="font-semibold block text-gray-700"> {{ semaforo.descripcion }} </span>
            <span [ngClass]="{'bg-green-500': !semaforo.intermitente, 'bg-red-500': semaforo.intermitente}" class="p-1 rounded text-sm text-white"> {{ semaforo.intermitente ? 'Intermitente' : 'Funcionando' }} </span>        
        </div>
    </div>
</div>
